$navbar-default-bg: white;

#logo {
	float: left;
	font-size: 1.7rem;
	color: #777777;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #4149c3;
	text-decoration: none;
}

.jumbotron {
	background-image: -webkit-linear-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.3)
		),
		url(/Greece.jpeg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/Greece.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	padding: 10rem;
}

.headline {
	position: absolute;
	width: 1140px;
	padding: 5rem;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 1px 14px rgba(0, 0, 0, 1);
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.5rem;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	padding: 5px 0px;
	margin-top: 10px;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

@import "bootstrap-sprockets";
@import "bootstrap";
